<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Desafio 9</title>
    </head>
    <body>
        <form action="/api/productos" method="post">
            <div>
                <label for="title">Title</label>
                <input type="text" name="title">
            </div>    
            <div>
                <label for="price">Precio</label>
                <input type="text" name="price">
            </div>    
            <div>
                <label for="thumbnail">Thumbnail</label>
                <input type="text" name="thumbnail">
            </div>  
            <button>Agregar</button>  
        </form>
    </body>
</html>