<h1 class="display-3 d-flex justify-content-center">Desafio 10</h1>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/api/productos/vista">Ver Productos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/api/productos/vista/cargar">Cargar Productos</a>
    </li>
</ul>
